<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Пройдите регистрацию</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <!-- Flash-сообщения -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form class='login-form' action="/reg/" method="POST">
    <div class="flex-row logo">
      <h1>Окно регистрации</h1>
    </div>
    <div class="flex-row">
      <input id="username" name="username" class='lf--input' placeholder='Your username' type='text' required>
    </div>
    <div class="flex-row">
      <input id="password" name="password" class='lf--input' placeholder='Your password' type='password' required>
    </div>
    <div class="flex-row">
      <input id="confirm_password" name="confirm_password" class='lf--input' placeholder='Confirm your password' type='password' required>
    </div>
    <input class='lf--submit' type='submit' value='Зарегистрироваться'>
    <a class='lf--forgot' href='/log/'>Уже есть аккаунт? Авторизуйся!</a>
  </form>
</body>
</html>